.hero-image {
    position: relative;
}

.hero-section .hero-image img {
    width: 100%;
    display: block;
}

.hero-image .hero-figcaption {
    color: #D9D9D9;
    position: absolute;
    top: 2%;
    left: 3%;
    transform: translate(-50% -50%);
    font-size: 9px;
}

.hero-figcaption footer {
    text-align: right;
    padding-right: 0.3rem;
}

.hero-figcaption footer a {
    color: #D9D9D9;
}

.about-us .about-article {
    background: #77BDD9;
    color: #D9D9D9;
    padding: 1rem 0.7rem;
}

.about-us .about-logos {

}

.about-logos .about-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.about-logos .about-icon img {
    width: 100%;
}